* {
  margin: 0;
  padding: 0;
}

body {
  font: normal 0.75em Tahoma, Geneva, sans-serif;;
  margin: 0 auto;
  width: 48em;
}

section#chat {
  color: #777;
  margin: 0.5em;
  padding: 0.25em;
  border: solid 1px #b3b3b3;
  border-radius: 0.5em; 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
  
  background: #e9e9e9;
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

section#chat section#content {
  height: 32em;
  width: 32em;
  padding: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  overflow: auto;
  overflow-x: hidden;
}

section#chat aside {
  width: 13em;
  height: 32em;
  margin-top: 0.25em;
  margin-right: 0.25em;
  margin-left: 0;
  padding: 0.25em;
  background: rgba(222,222,222,0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
  float: right;
  border-radius: 0.5em;
  overflow: hidden;
} 
section#chat aside header h2{
  padding-left: 0.25em;
  font-size: 1.25em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0;
  color: #666;
}

section#chat aside article.user {
  padding: 0.25em; 
  color: #999;
}

section#chat footer {
  position: relative;
  bottom: 0;
  padding: 0.25em;
  padding-left: 0.5em;
}

section#chat footer input {
  border-radius: 0.5em;
  height: 1.5em;
  width: 50%;
}

article.chat {
  margin-right: 0.25em;
  padding: 0.5em;
  border-radius: 0.5em;
}

article.chat:nth-child(odd) {
  background: rgba(54,164,255,0.1);
}

article.chat:nth-child(even) {
  background: rgba(255,255,255,0.3);
}

article.chat header time {
  font-size: 0.5em;
  float: right;
}

article.chat b {
  padding-left: 0.25em;
}

article.chat mark {
  color: #111;
  padding: 0.2em;
  margin-left: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  background: rgba(255,255,255,0.2);
  width: 90%;
}
/*
article.chat.private mark {
  background: rgba(15,15,134,0.5);
}

article.chat.public mark {
  background: rgba(15,134,15,0.5);
}

article.chat.self mark {
  background: rgba(255,134,15,0.5);
}
*/
article.chat.server mark {
  border: 0;
  color: #777;
  background: transparent;
  font-style: italic;
  margin-left: 0;
  padding-left: 0.25em;
}


article.chat.discarded mark {
  text-decoration: line-through; 
  background: transparent;
  font-style: italic;
  color: #777;
}

article.chat.discarded:after {
  content: url('/images/warning.png');
}


article.chat.pending mark {
  background: transparent;
  font-style: italic;
}

article.chat.pending:after {
  content: url('/images/spinner.gif');
  padding-left: 0.25em;
}

